body{
    background-color: rgb(223, 213, 224);
    text-align: center;
}

h1 {
    color:azure;
}

h6{
    color:rgb(8, 22, 23)
}
ul {
    color: rgb(115, 214, 15);

}

li{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

li img{
    width: 30px;
    height: 30px;

}
li {
    transition: 0.3s;

}
li:hover{
    color: rgba(14, 226, 95, 0.949);
    font-size: 20px;
}